/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: Arial, sans-serif;
}



/* Custom CSS for nav bar */
.navbar {
    background-color: rgba(255, 248, 232, 0.9); /* Adjust transparency as needed */
    height: 90px;
}

.navbar-brand img {
    max-width: 100px; /* Limit brand logo width */
}

.nav-images .nav-link {
    padding: 0;
}

.nav-images .nav-link img {
    width: 250px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: auto; /* Center the images horizontally */
}
.btn {
    background-color: #620909; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 5px; /* Add border radius */
    margin-right: 10px;
}
  
  .btn:hover {
    background-color: #5d0505; /* Darker background color on hover */
    color: white;
  }
  

.box {
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to separate each recipe */
    display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Align items to the start of the flex container */
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
.recipe-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

.products {
    width: 200px; /* Set width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add space between image and text */
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
}

.description {
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Custom CSS for footer */
.footer {
    background-color: rgba(255, 248, 232, 0.9); /* Background color for the footer */
    padding: 40px 0;
    color: #421b1b; /* Text color for the footer */
    text-align: center;
    
    
}

.footer h3 {
    margin-bottom: 20px;
    color: #421b1b; /* Heading color */
}

.footer p {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}






/* Responsive Design */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }
}


